<form action='/breweries/create' method='post'>
  <div>
    <label>Name of brewery</label>
    <input name='brewery[name]' type='text'/>
  </div>
  <div>
    <label>City</label>
    <input name='brewery[city]' type='text'/>
  </div>
  <div>
    <label>State</label>
    <input name='brewery[state]' type='text'/>
  </div>
  <input type='submit'/>
</form>

<a href="/breweries">Brewery Index</a>